[submodule "C_Submodule_1"]
	path = C_Submodule_1
	url = https://github.com/MarvinHuang92/C_Submodule_1.git

[submodule "Python_Submodule_2"]
	path = Python_Submodule_2
	url = https://github.com/MarvinHuang92/Python_Submodule_2.git
	
[submodule "CMake_Submodule_1A"]
	path = CMake_Submodule_1A
	url = https://github.com/MarvinHuang92/CMake_Submodule_1A.git

[submodule "Jenkins_Pipeline"]
	path = Jenkins_Pipeline
	url = https://github.com/MarvinHuang92/Jenkins_Pipeline.git
[submodule "ip_vmc"]
	path = ip_vmc
	url = git@github.com:MarvinHuang92/submodule_test_1.git
